.logo {
    height: 40vmin;
    pointer-events: none;
    margin: 30px;
  }
  
 @media (prefers-reduced-motion: no-preference) {
    .Title-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
   
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  h1, h2 {
    margin: 0;
  }