:root {
  --background-colour: var(--dark-red);
  --dark-red: #550000;
  --mid-red: #800000;
  --light-red: #AA0000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;  
  letter-spacing: 0.05em;

  background-color: var(--background-colour);

  color: white;
}

a {
  color: var(--light-red);
  text-decoration: none;
  font-size: 32px;
}

h1 {
  font-size: 32px;
  display: inline;
}